* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #282a3a;
}
.top-container {
  text-align: center;
}
.container {
  background-color: rgba(128, 128, 128, 0.219);
  height: 270px;
  width: 350px;
  margin: 30px auto 30px auto;
  border: 1px inset rgba(128, 128, 128, 0.219);
  position: relative;
  border-radius: 1px;
}
.label-login {
  color: #ffffff32;
  font-size: 2.5rem;
  font-family: 'Rubik', sans-serif;

  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 5px;
}
ul {
  position: relative;
  top: 2rem;
  text-align: center;
  list-style-type: none;
}
.input__name {
  font-size: 1.1rem;
  padding: 8px 0px;
  text-align: center;
  border: 1px outset red;
  border-style: none;
  border-radius: 3px;
  background-color: black;
  color: white;
}
.input__password {
  font-size: 1.1rem;
  margin-top: 30px;
  padding: 8px 0px;
  text-align: center;
  border: 1px outset red;
  border-style: none;
  border-radius: 3px;
  background-color: black;
  color: white;
}
::placeholder {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 0.342);
  font-family: sans-serif;
}
.btn-login {
  letter-spacing: 1px;
  cursor: pointer;
  position: relative;
  top: 10rem;
  background: none;
  font-size: 5rem;
  transition: 0.5s;
  font-family: sans-serif;
  border: none;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
}
.material-symbols-outlined{
display: block;
position: relative;
top: 10rem;
color: rgba(250, 235, 215, 0.519);
font-size: 5rem;
font-weight: bold;
}
.hidden {
  display: none;
}

.btn-close {
  font-size: 1.6rem;
  background-color: rgba(128, 128, 128, 0.219);
  color: white;
  position: absolute;
  right: 5px;
  border: none;
  cursor: pointer;
  background: none;
  color: grey;
  cursor: pointer;
  z-index: 2;
}
.btn-close:hover {
  color: #282a3a;
  font-size: 1.7rem;
}
.btn-submit {
  position: relative;
  top: 1rem;
  font-size: 2.3rem;
  border-style: none;
  background: none;
}
.btn-submit:hover {
  color: white;
  transition: 0.3s;
}
.lebal-message {
  font-variant: small-caps;
  font-family: sans-serif;
  font-weight: 500;
  text-transform: lowercase;
  font-style: normal;
  font-size: larger;
  letter-spacing: 0;
  transition: 0.5s;
}
